[submodule "ExamList-App"]
	path = ExamList-App
	url = git@github.com:Noayo1/ExamList-App.git
[submodule "ExamList-Terraform"]
	path = ExamList-Terraform
	url = git@github.com:Noayo1/ExamList-Terraform.git
[submodule "ExamList-GitOps"]
	path = ExamList-GitOps
	url = git@github.com:Noayo1/ExamList-GitOps.git
